title= brand
meta(name='viewport', content='width=device-width, initial-scale=1.0')

script(type='text/javascript', src='../../10tcl/js/Sugar/sugar-1.3.min.js')
script(type='text/javascript')
	Object.extend()

script(type='text/javascript', src='../../10tcl/js/jQuery/jquery-1.7.1.min.js')
script(type='text/javascript', src='../../10tcl/js/Bootstrap/bootstrap.js')
  
link(rel='stylesheet'    , href='../../10tcl/css/Bootstrap/bootstrap.css'                , title='original' , bootstrap=true)
link(rel='alt-stylesheet', href='../../10tcl/css/Bootstrap/bootstrap-theme-cerulean.css' , title='cerulean' , bootstrap=true)
link(rel='alt-stylesheet', href='../../10tcl/css/Bootstrap/bootstrap-theme-cosmo.css'    , title='cosmo'    , bootstrap=true)
link(rel='alt-stylesheet', href='../../10tcl/css/Bootstrap/bootstrap-theme-cyborg.css'   , title='cyborg'   , bootstrap=true)
link(rel='alt-stylesheet', href='../../10tcl/css/Bootstrap/bootstrap-theme-journal.css'  , title='journal'  , bootstrap=true)
link(rel='alt-stylesheet', href='../../10tcl/css/Bootstrap/bootstrap-theme-readable.css' , title='readable' , bootstrap=true)
link(rel='alt-stylesheet', href='../../10tcl/css/Bootstrap/bootstrap-theme-slate.css'    , title='slate'    , bootstrap=true)
link(rel='alt-stylesheet', href='../../10tcl/css/Bootstrap/bootstrap-theme-superhero.css', title='superhero', bootstrap=true)

link(rel='stylesheet', href='../../10tcl/css/site.css')
